@keyframes red {
    0% {
        background: #000;
    }

    2%,
    40% {
        background: red;
    }

    42%,
    100% {
        background: #000;
    }
}

@keyframes amber {

    0%,
    20% {
        background: #000;
    }

    22%,
    40% {
        background: #ff7e00;
    }

    42%,
    80% {
        background: #000;
    }

    82%,
    100% {
        background: #ff7e00;
    }
}

@keyframes green {

    0%,
    40% {
        background: #000;
    }

    42%,
    80% {
        background: green;
    }

    82%,
    100% {
        background: #000;
    }
}