html {
    font-size: 10px;
    background: url(https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569_1280.jpg) bottom center;
    /*http://i.imgur.com/b9r5sEL.jpg*/
    background-size: cover;
}

body,
html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.keys {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f00;
}

.key {
    border: .4rem solid #000;
    border-radius: 0.5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem 0.5rem;
    width: 10rem;
    text-align: center;
    color: #fff;
    background: rgba(0, 0, 0, .4);
    text-shadow: 0 0 .5rem #000;
    transition: all .07s ease;
}

.playing {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
}