<%- include('header') %>
<form action="/login" method="POST" name="loginForm">
  <input type="text" name="userName">
  <input type="password" name="pwd">
  <input type="submit" value="login" name="pwd">
</form>
<%- include('login-script') %>
<%- include('footer') %>