* {
  margin: 0;
  padding: 0;
}
.container,
.main-container {
  width: 100%;
  background-color: #f7f7f7;
}
.container a,
.main-container a {
  text-decoration: none;
}
.movie-list {
  border: 1px solid #000;
}
.movies-items {
  overflow: hidden;
  list-style: none;
  margin: 10px auto;
}
.movies-items .movie-item {
  float: left;
  margin-left: 20px;
}
.movie-img img {
  width: 100px;
}
.movie-name,
.movie-buy {
  width: 100px;
  text-align: center;
}
.movie-name {
  font-weight: bold;
  font-size: 13px;
  line-height: 1.45;
  margin: 5px auto;
  color: #111;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.movie-rating {
  color: #e09015;
  font-size: 12px;
  margin-bottom: 5px;
  text-align: center;
}
.buy {
  background-color: #1c8bd0;
  color: #fff;
  border: 0;
  width: 68px;
  height: 23px;
  border-radius: 2px;
}
